.form {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  margin-bottom: 50px;
}

.css-13e1ble-MuiInputBase-root-MuiInput-root .form__input {
=======
  margin-bottom: 100px;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
>>>>>>> origin/main
  color: #ffffff;
}
